body{
    color:
      
  }
  .game-frame{   /*creation of game frame*/
    border-style: outset;
    display: block;
    width: 500px;
    height: 500px;
    background: silver;
    margin: auto;
    }
  
  
  
  .game-control{
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
  
  .play{ /* create space between the two control buttons*/
  margin-right: 10px;}
  
  .display{
    width: 400px;
    height: 217px;
    border: 3px solid;
    margin: auto;
    margin-top: 30px;
    background: rgb(185, 205, 225);
    border-style: inset;
    border-radius: 10px;
   overflow: hidden;
  }
  
  .press-start{
    display: flex;
    justify-content: center;
    max-width: 300px;
    
  }
  
  .rules {
   padding-bottom: 
   margin: auto;
   display: flex;
   }
  
  .display > img{
    width: 100%;
    height: auto;
    
  }
  
  
  
  
  
  
  
  
   